.mylist{
    text-align:center;
}

ol.normal{
    list-style-type: square;
    text-align: left;
    display: inline-table;
}
.mylist2{
    text-align:center;
}
.aling-body{
    align-items: center;
    align-content: center;
   
}
.bodyMod{
    align-items: left;
    text-align: left;
}
.control{
    width: 30%;
    margin-left: 5%;

}
.s{
    margin-left: 5%;
}
label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}
